/* campus */
*{
    margin: 0;
    padding: 0;
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
#im{
    height: 400px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.head{
    font-size: 2.5em;
}
.per{
    color: #595f64;
}
.mar{
    flex-basis: 47%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.mar img{
    width: 100%;
    display: block;
}
.class{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.deve{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.steve{
    flex-basis: 22%;
    border-radius: 40px;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
}
.classes{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    width: 70%;
    flex-basis: 100%;
}
.steve img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
}
.headers{
    font-size: 2.5em;
    color: purple;
    margin-top: 8%;
    text-align: center;
    margin-right: 20%;
    margin-left: 15%;
    width: 77%;
}
.pars{
    font-size: 18px;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    color: dimgray;
    line-height: 25px;
}
.enroll{
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}
button{
    background: purple;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    background: #c430d7;
    transition: 0.5s;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .layer{
        height: 100%;
    }
}